@model WallnutCookiesDelivery.Web.ViewModels.MenuViewModel

<div class="h4 text-center">
    <h2>PRIMA MENSA'S HOMEMADE ORESHKI</h2>
</div>

<a asp-asp-controller="Product" asp-action="Create">Add Product</a>

<form method="post">

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Id
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>
                            <img decoding="async" src="@("~/images/Oreshki/" + product.ImageUrl)"
                        asp-append-version="true" width="60px" height="60px" />
                        </td>
                        <td>
                            @product.ProductId
                        </td>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.Description
                        </td>
                        <td>
                            @Math.Round(product.Price,2)
                        </td>
                        <td>
                            <a href="Product/Edit/@product.ProductId">Edit</a>
                        </td>
                         <td>
                            <a href="Product/Delete/@product.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>